.locations-container {
    background-color: var(--cor-1);
    padding: 0px 20px;
    padding-bottom: 120px;
}

.locations {
    background-color: var(--cor-0);
    border-radius: 5px;
    border: 1px solid var(--cor-2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.locations-container h2 {
    margin: 0 auto;
    max-width: 1150px;
    font-size: 4rem;
    padding-top: 120px;
    padding-bottom: 60px;
}

.container-stores {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    max-width: 1150px;
    margin: 0 auto;
}

.maps h3{
    padding: 30px 40px 10px 30px;
    font-size: 2rem;
    margin: 0;
}

.container-street {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 40px 0px 33px;  
}

.road  {
    border-left: 2px solid var(--cor-2);
    padding-left: 12px;
    color: var(--cor-8);
}

.road a {
    color: var(--cor-8);
}

.time {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px 40px 40px 30px;
}
.img-maps {
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media (max-width: 1200px) {
    .locations-container h2 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .locations-container {
        padding-bottom: 60px;
    }
    .locations-container h2 {
        font-size: 2rem;
        padding: 60px 0px;
    }

    .container-street {
        grid-template-columns: 1fr;
    }

    .maps h3 {
        font-size: 1.5rem;
        padding: 30px 30px;
    }
}

@media (max-width: 600px) {
    .container-stores {
        grid-template-columns: 1fr;
    }
}