header {
    background-color: var(--cor-12);
}

.navgation {
    max-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px;
    margin: 0 auto;
}

.navgation img {
    margin-right: 20px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

nav ul a {
    color: var(--cor-1);
    padding: 15px 0px;
    font-size: 1.1rem;
}

@media (max-width: 800px) {
    nav ul {
        gap: 20px;
    }

    nav ul a {
        background-color: var(--cor-11);
        padding: 13px 15px;
        border-radius: 5px;
    }
}

@media (max-width: 600px) {
    .navgation {
       padding: 15px 20px;
    }
    nav ul {
        gap: 30px 13px;
    }

    nav ul a {
        font-size: .9rem;
        padding: 10px 12px;
    }
}