.secure-container {
    background-color: var(--cor-11);
    padding: 0px 20px;
}

.secure-container h2 {
    margin: 0;
    padding-top: 70px;
    font-size: 4rem;
    color: var(--cor-1);
    max-width: 1150px;
    margin: 0 auto;
}

.security {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
}

.silver-container, .gold-container {
    background-color: var(--cor-12);
    padding: 40px 30px 40px 50px;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.silver-container {
    margin-right: 40px;
}

.price-metals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.silver {
    font-size: 2rem;
    color: var(--cor-5);
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
}

.gold {
    font-size: 2rem;
    color: var(--cor-p1);
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
}

.two-price {
    font-size: 2rem;
    color: var(--cor-1);
    font-weight: bold;
}

.mensal {
    display: block;
    font-size: .8rem;
    color: var(--cor-5);
    text-align: right;
}

.security-list {
    margin-top: 30px;
}

.security-list li {
    margin-bottom: 20px;
    color: var(--cor-1);
    font-size: 1.1rem;
    position: relative;
}

.security-list li:last-child {
    margin-bottom: 0px;
}

.security-list li::before {
    content: "";
    width: 15px;
    height: 15px;
    top: 5px;
    left: -23px;
    background-image: url(../../img/icones/lista.svg);
    background-repeat: no-repeat;
    position: absolute;
}

.silver-container a {
    background: var(--cor-10);
    padding: 18px 35px;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-1);
    border-radius: 5px;
    margin-top: 15px;
}

.gold-container a {
    background-color: var(--cor-p1);
    padding: 18px 35px;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-p5);
    border-radius: 5px;
    margin-top: 15px;
}

@media (max-width:800px) {
    .security {
        grid-template-columns: 1fr;
    }

    .silver-container {
        margin-bottom: 0;
        margin-right: 0;
    }

    .secure-container h2 {
        font-size: 2rem;
    }

    .silver, .gold, .two-price {
        font-size: 1.5rem;
    }
}

@media (max-width:600px) {
    .silver-container a, .gold-container a {
        font-size: 1rem;
        padding: 15px 25px;
    }
}

@media (max-width:280px) {
    .two-price {
        margin: 5px 0px;
        display: block;
    }

    .mensal {
        text-align: left;
    }
}