.nimbus-black-white {
    padding: 0px 20px;
}

.nimbus-black-white h2 {
    max-width: 1150px;
    margin: 70px auto 30px auto;
    font-size: 4rem;
    padding: 0px 20px;
}

.bikes-container {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0px 20px;
}

.bikes-container img{
    max-width: 100%;
    min-width: 300px;
}