.nimbus-information {
    background-color: var(--cor-11);
    padding: 0px 20px;
    padding-bottom: 120px;
}

.nimbus-title {
    max-width: 1150px;
    margin: 0 auto;
    padding: 50px 0px;
    background-image: url(../../img/dec/top-right.svg);
    background-repeat: no-repeat;
    background-position: top 60px right 40px;
}

.price-nimbus {
    color: var(--cor-5);
    font-size: 2rem;
}

.nimbus-title h1 {
    font-size: 4rem;
    color: var(--cor-1);
}

.nimbus-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1150px;
    margin: 0 auto;
}

.bike-nimbus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 15px;
}

.nimbus img {
    max-width: 100%;
}

.nimbus-paragraph {
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--cor-5);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

.nimbus-content a {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50c);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    text-transform: uppercase;
    color: var(--cor-p5);
    font-weight: 600;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;;
    max-width: max-content;
    border: none;
}

.nimbus-content a:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

.delivery-container {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: start;
    justify-items: start;
    gap: 15px;
}

.delivery {
    display: flex;
    align-items: center;
    background-color: var(--cor-12);
    gap: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: .8rem;
    color: var(--cor-5);
    margin-bottom: 7px;
}

.delivery:last-child{
    margin-bottom: 0px;
}

.tittle-nimbus, .datasheet-title {
    display: inline-block;
    color: var(--cor-0);
    text-transform: uppercase;
    font-size: .8rem;
    margin-top: 35px;
    margin-bottom: 15px;
    letter-spacing: 0.015em;
}

.bike-information {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 15px;
    padding: 30px 30px 20px 30px;
    background-color: var(--cor-12);
    border-radius: 5px;
}

.box img {
    width: 24px;
}

.box h3 {
    margin: 0px;
    margin-top: 5px;
    color: var(--cor-0);
    font-weight: normal;
    font-size: 1.1rem;
}

.box p {
    color: var(--cor-5);
    font-size: .9rem;
    line-height: 1.5;
}

.second-box {
    background-color: var(--cor-12);
    color: white;
    padding: 35px 35px 40px 35px;
    border-radius: 5px;
}


.datasheet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor-11);
}
.datasheet p {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--cor-5);
}

.datasheet span {
    color: var(--cor-5);
}

@media (max-width: 1200px) {
    .nimbus-title h1 {
        font-size: 3rem;
    }
    .nimbus-paragraph {
        font-size: 1.125rem;
    }
}

@media (max-width: 920px) {
   .bike-nimbus {
        grid-template-columns: 1fr;
   }
}

@media (max-width: 800px) {
    .nimbus-title {
        padding-bottom: 40px;
    }
    .price-nimbus {
        font-size: 1rem;
    }

    .nimbus-title h1 {
        font-size: 2rem;
    }

    .nimbus-container {
        grid-template-columns: 1fr;
    }

    .bike-nimbus {
        grid-template-columns: 1fr 1fr;
   }

    .nimbus {
        grid-row: 2;
    }
}

@media (max-width: 600px) {
    .nimbus-content a {
        padding: 12px 16px;
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    .bike-nimbus {
        grid-template-columns: 1fr;
   }

   .delivery-container {
    display: grid;
    grid-template-columns: auto; 
   }
}

