.our-bikes h2 {
    padding-bottom: 40px;
}

.terms-container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 80px 20px;
}

.terms h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-11);
    margin-bottom: 20px;
}

.terms p {
    max-width: 75ch;
    margin-bottom: 24px;
    color: var(--cor-10);
    font-size: 1rem;
    line-height: 1.5;
}

@media (max-width: 1200px) {
    .our-bikes h2 {
        font-size: 3rem;
    }

    .our-bikes p {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .our-bikes h2 {
        font-size: 2rem;
    }

    .our-bikes p {
        font-size: 1rem;
    }
}