.budget-main {
    background-color: var(--cor-1);
}

.budget {
    padding: 0px 20px;
    box-shadow: inset 0px 300px var(--cor-11);
    background-color: var(--cor-1);
    padding-bottom: 200px;
}

.budget-container {
    max-width: 1150px;
    margin: 0 auto;
}

.budget-container {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.bikecraft-secure-container {
    background-color: var(--cor-12);
    border-radius: 5px 0px 0px 5px;
    color: white;
}

.title-secure {
    display: block;
    font-size: .8rem;
    color: var(--cor-5);
    text-transform: uppercase;
    padding: 30px 35px 10px 35px;
    position: relative;
}

.title-secure::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    background-color: var(--cor-p1);
    position: absolute;
    top: 33px;
    left: 25px;
}

.bikcraft-secure {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 10px 35px 10px 35px;
}

.choose label {
    font: 400 1rem/1.5 "Poppins", sans-serif;
    color: var(--cor-4);
    background-color: var(--cor-10);
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--cor-10);
    display: inline-block;
    width: 80%;
}

.choose label::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border: 1px solid var(--cor-6);
    border-radius: 50%;
    margin-right: 8px;
}

.choose label:hover {
    border-color: var(--cor-9);
}

form {
    background-color: var(--cor-0);
    border-radius: 0px 5px 5px 0px;
    padding: 30px 35px 30px 35px;
}

form input {
    display: block;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid var(--cor-2);
    background-color: var(--cor-1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

.budget-title, .budget-delivery {
    font-size: .8rem;
    color: var(--cor-9);
    text-transform: uppercase;
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.budget-title::before, .budget-delivery::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    top: 3px;
    left: -10px;
    background-color: var(--cor-p1);
    position: absolute;
}

.budget-delivery {
    margin-top: 40px;
}

.budget-name {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
}

.budget-name input {
    width: 90%;
}

.cpf {
    margin-bottom: 20px;
}

.cpf, .email {
    width: 95%;
}

.budget-andress {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

