.questions-container {
    padding: 0px 20px;
    margin-bottom: 130px;
}

.questions-container h2 {
    font-size: 4rem;
    max-width: 1150px;
    margin: 130px auto 60px auto;
}

.common-questions {
    max-width: 1150px;
    margin:  0 auto;
}

.questions {
    padding: 10px 20px 10px 40px;
    position: relative;
}

.question-btn {
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    cursor: pointer;
    font-size: 1.17em;
    font-weight: bold;
    border: none;
    background: none;
    width: 100%;
}

.questions .question-btn::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    left: -20px;
    background-color: var(--cor-p1);
    margin-right: 10px;
    position: absolute;
}

.questions .question-btn::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 10px;
    right: 0px;
    background: url(../../img/icones/seta-abrir.svg);
    background-repeat: no-repeat;
    position: absolute;
    transition: transform 0.5s;
    cursor: pointer;
}

.question-btn:hover::after,
.question-btn[aria-expanded="true"]::after{
    transform: rotate(180deg);
}

.questions:nth-child(odd) {
    background-color: var(--cor-1);
}

.questions p {
    max-width: 700px;
    display: none;
}

.questions p.active {
    display: block;
}

@media (max-width: 1200px ) {
    .questions-container h2 {
        font-size: 3rem;
    }
}

@media (max-width: 600px ) {
    .questions-container h2 {
        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    .questions h3 {
        font-size: 1rem;
    }
    .questions p {
        max-width: 700px;
        font-size: .925rem;
    }
}
